*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-content: left;
  align-items: left;
  list-style: none;
  -webkit-padding-start: 0px;
}

ul li {
  margin: 2px;
}

.popout:hover {
  color: white;
}

ul li a:visited {
  color:white;

}

ul li a {
  min-width: 25px;
  height: 25px;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  font-size: 9pt;
  color: #fff;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
}

ul li a span {
  float: left;
  padding: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.05);
}

ul li a i.fa {
  float: left;
  width: 25px;
  height: 25px;
  font-size: 10pt;
  line-height: 25px;
}

ul li a:hover {
  transform: scale(1.03);
}