/* Slide 5 (#10) */
.left {
	text-align: left !important;
}

.center {
 margin-left: auto;
 margin-right: auto;
 
}
/* Slide 7 (#59) */
.center {
	text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Slide 22 (#10) */
.left {
	text-align: left !important;
}

.center {
 margin-left: auto;
 margin-right: auto;
 
}
